.awesomeDataList{
    background-color: pink;
}

.awesomeDataList dt{
    font-weight: 900;
}

.awesomeDataList dd{
    font-style: italic;
}

.awesomeDataList dt,
.awesomeDataList dd{
    color: rgb(105, 0, 151);
}

.listContainer{
    width: 90%;
    margin: 0 auto;
    background-color: bisque;
    border: 1px solid blue;
}

.listContainer ul{
    list-style-type: none;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}
