:root {
    --primary-color: #4CA6BC   ;
    --secondary-color: #292929 ;
    --accent1-color: #E78300;
    --accent2-color: #8B20B2;
  
    --heading-font: 'VT323', 'Syne Mono', monospace;
    --paragraph-font: 'Courier Prime', 'Noto Sans Mono', monospace;

    --headline-color-on-white: #4CA6BC;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #4CA6BC; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #4CA6BC  ;
    --nav-link-color: #292929;
    --nav-background-color: #E78300;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #4CA6BC;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}
p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
    padding: 1em;
}
a {
    text-decoration: none;
}

header {
    background-color: var(--nav-background-color);
    text-align: left;
    display: grid;
    grid-template-columns: 120px auto;
}
.logo {
    width: 100px;
    padding: 10px;
}

nav {
    background-color: var(--nav-background-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
}
nav  {
    list-style-type: none;
    display: flex;
}
nav a {
    padding:1em;
    min-width: 150px;
    text-decoration: none;
    padding: 10px;
    align-self: center;
    font-family: var(--heading-font);
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.page-heading{
    max-width: 700px;
    margin: 20px auto;
}
.headline{
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
}
.explanation{
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    text-align-last: center;
}

.deck{
    display: grid;
    margin: 70px auto;
    justify-content: center;
    grid-template-columns: 40px 310px 20px 310px 20px 310px;
    grid-template-rows: repeat(4, 121.92px) 17.43px repeat(2, 139.34px) 40px repeat(3, 139.34px) 40px repeat(3, 139.34px) 40px repeat(3, 139.34px) 40px repeat(3, 139.34px);
}
.commander{
    width: 350px;
    grid-column: 1/3;
    grid-row: 1/5;
}
.heading{
    text-align: center;
    grid-column: 4/7;
    grid-row: 2;
}
.heading h2{
    padding-top: 50px;
    font-size: 40px;
    margin: 0;
}
.heading p{
    font-size: 24px;
    margin: 0;
    padding-top: 0;
}
.card{
    margin: 0 auto;
    width: 300px;
}

.card:nth-of-type(4), .card:nth-of-type(7), .card:nth-of-type(10), .card:nth-of-type(13){
    grid-column: 2;
}
.card:nth-of-type(2), .card:nth-of-type(5), .card:nth-of-type(8), .card:nth-of-type(11), .card:nth-of-type(14){
    grid-column: 4;
}
.card:nth-of-type(3), .card:nth-of-type(6), .card:nth-of-type(9), .card:nth-of-type(12), .card:nth-of-type(15){
    grid-column: 6;
}

.card:nth-of-type(2), .card:nth-of-type(3){
    grid-row: 4/7;
}
.card:nth-of-type(4), .card:nth-of-type(5), .card:nth-of-type(6){
    grid-row: 9/12;
}
.card:nth-of-type(7), .card:nth-of-type(8), .card:nth-of-type(9){
    grid-row: 13/16;
}
.card:nth-of-type(10), .card:nth-of-type(11), .card:nth-of-type(12){
    grid-row: 17/20;
}
.card:nth-of-type(13), .card:nth-of-type(14), .card:nth-of-type(15){
    grid-row: 21/24;
}

hr{
    height: 0px;
    width: 95%;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
}

footer {
    background-color: var(--nav-background-color);
    padding: 25px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer nav a h3{
    color: var(--nav-link-color);
    padding: 0 50px;
}
footer nav a{
    margin: 0 50px;
    font-size: larger;
    font-weight: bold;
}